<html>
    <head>
        <title>Login/Reg</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'l_r/style.css' %}" media="screen" title="no title"  charset="utf-8">        
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
            
        <div>
            <form method="post" action="/add/">
                {% csrf_token %}                            
                <label for="first_name">First Name:<input type="text" name="first_name">
                <label for="last_name">Last Name:<input type="text" name="last_name">
                <label for="email">Email:<input type="text" name="email">
                <label for="password">Password:<input type="password" name="password">
                <label for="password">Password Confirmation:<input type="password" name="cpwd">   
                <input type="submit" value="Register">
            </form>
        </div>
        <div>
            <form method="post" action="/login/">
                {% csrf_token %}                                            
                <label for="username">Email:<input type="text" name="username">
                <label for="pword">Password:<input type="password" name="pword">
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>